//font
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Oxygen:400,300);
$SourceSans: 'Source Sans Pro', sans-serif;
$Oxygen: 'Oxygen', sans-serif;

//color

$black: rgb(36,36,36);
$green: rgb(152,192,116);
$white: rgb(232,232,232);
$grey: rgb(56,56,56);
$blue: rgb(120,184,216);

//size

$s: 1em;
$m: 1.618em;
$l: 2.618em;
$xl: 4.236em;